[Unit]
Description=modernomad
After=network.target

[Service]
Type=simple
User=deploy
Group=www-data
WorkingDirectory=/var/www/modernomad
ExecStart=/var/www/modernomad/.venv/bin/gunicorn -b 127.0.0.1:5000 -w 4 modernomad.wsgi
ExecReload=/bin/kill -HUP $MAINPID
Environment="DEBUG={{ debug }}"
Environment="SECRET_KEY={{ secret_key }}"
Environment="DATABASE_URL=postgres://modernomad:{{ postgres_password }}@localhost:5432/modernomad"
Environment="STRIPE_SECRET_KEY={{ stripe_secret_key }}"
Environment="STRIPE_PUBLISHABLE_KEY={{ stripe_publishable_key }}"
TimeoutSec=15
Restart=always

[Install]
WantedBy=multi-user.target
